/* Index */
/* Index */
/* Index */


header.index {
  color: #000000;
  font-family: 'hoefler text', 'neuton', 'georgia', serif;
  font-size: 24px;
  text-align: center;
  max-width: 500px;
  padding-bottom: 20px;
  margin: auto;
}

.essays {
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
}

header.about {
  color: #000000;
  font-family: 'hoefler text', 'neuton', 'georgia', serif;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  padding-bottom: 20px;
  margin: auto;
  opacity: .35;
}

.about {
  margin: auto;
  text-align: center;
  color: #333;
  font-family: 'georgia', serif;
  font-size: 14px;
  text-align: center;
  width: 500px;
  line-height: 1.3;
  opacity: .35;
}

a.index {
  color: #333;
  font-family: 'hoefler text', 'neuton', 'georgia', serif;
  line-height: 2.5rem;
  text-decoration: none;
  border-bottom: 1px solid #EEE;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

a.index:hover {
  border-bottom: 1px solid #ddd;
  color: #000;
}

a.index:visited {
  opacity: .5;
}

a.social {
  margin: auto;
  text-align: center;
  color: #999;
  font-family: 'georgia', serif;
  font-size: 14px;
  text-align: center;
  width: 500px;
  line-height: 1.3;
  text-decoration: none;
}

a.social:hover {
  color: #666;
}


/* Essays */
/* Essays */
/* Essays */


body {
  padding-top: 100px;
  margin: auto;
  background-color: #fdfaf3;
  padding-bottom: 100px;
}

header.essay {
  color: #000000;
  font-family: 'hoefler text', 'neuton', 'georgia', serif;
  font-size: 24px;
  max-width: 500px;
  padding-bottom: 10px;
  margin: auto;
  font-style: italic;
  text-align: center;
}

header.details {
  color: #333;
  font-family: 'georgia', serif;
  font-size: 18px;
  max-width: 500px;
  padding-bottom: 70px;
  margin: auto;
  text-align: center;
}

p.subheader {
  color: #333;
  font-family: 'georgia', serif;
  font-size: 21px;
  width: 500px;
  font-weight: bold;
  margin-left: 420px;
  padding-top: 10px;
  margin-bottom: 7px;
}

p {
  max-width: 600px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
  font-size: 21px;
  line-height: 1.58;
  color: #333;
}

p.quote {
  width: 450px;
  font-size: 18px;
  line-height: 1.40;
}

img {
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 450px;
}
