---
layout: default
---

<section>
	<img src="/assets/matt-new-circle-2.png" height="75px" width="75px">
	<h1>Matt Henderson</h1>
	<p>I'm a 20 year old entrepreneur & designer from <a href="https://en.wikipedia.org/wiki/Great_Falls,_Montana"  target="blank" id="montana">Montana</a>. I grew up without parents and ran away from home when I was 16. I moved to NYC with nothing when I was 18. I've dedicated my life to solving the education sustainability crisis.
	<a href="mailto:m@matthenderson.co" id="mail">Email me!</a></p>
	<p class="exp">I'm currently working on making self-learning on the Internet easier with <a href="https://www.producthunt.com/posts/athena-48913abd-070d-48f9-8243-5a5822adb845" target="blank" id="brain">Athena</a>.</p>
	<p class="exp">If you're launching something new, consider launching with <a href="https://www.aidem.network/?ref=matthenderson.co">Aidem Network</a>.</p>
	<p style="margin-top: 5px">Things I'm currently excited about:</p>
	<li>Using blockchain to solve scaling problems in massive public systems that are traditionally centralized (education and healthcare).</li>
	<li>Value investing alternative assets like time & crypto</li>
	<li>Adam Smith & modern behavioral economics</li>
	<li>Privatization and decentralization of formal education</li>
	<li>Genghis Khan</li>
	<h2>Experience</h2>
		<p class="exp">
		<a href="http://www.huffingtonpost.com/julia-schemmer/a-passionate-youth-meet-m_b_4946391.html" target="blank" id="shirt">Amour Fraternel Apparel,</a>
		<a id="shirt">M. Juh&aacute;sz-Henderson,</a>
		<a id="laptop">Juh&aacute;sz &amp; Associates,</a>
		<a id="write">TDBA,</a>
		<a href="http://www.founder.house" target="blank" id="house">Founder House,</a>
		<a id="money">salesperch,</a>
		<a id="laptop">Trouv&eacute;,</a>
		<a href="https://medium.com/the-mission/how-we-hacked-the-media-and-landed-six-figure-contracts-in-four-days-96ea4aca4eef#.yr5ffw61j" target="blank" id="glove">Rumblr,</a>
		<a href="http://www.vonhughes.com" target="blank" id="black-flag">von Hughes,</a>
		<a id="jeans">Shameless Jeans,</a>
		<a id="ship">OneFleet,</a>
		<a href="http://www.malkared.com" target="blank" id="music">Malka Red,</a>
		<a id="house">Secret Lofts,</a>
		<a id="bed">Wanderlofts,</a>
		<a id="fluid">IJC,</a>
		<a id="music">BLAK HUGHES,</a>
		<a id="bus">Secret Bus,</a>
		<a id="chicken">Whole Cooking,</a>
		<a id="ship">Zencargo,</a>
		<a href="https://www.lavamap.com" target="blank" id="building">Lavamap,</a>
		<a href="https://www.novaventures.io" target="blank" id="asia">Nova Ventures,</a>
		<a id="couch">Angel,</a>
		<a id="stars">Champagne,</a>
		<a id="ship">Marco,</a>
		<a href="http://www.aufine.com" target="blank" id="china">Aufine,</a>
		<a id="ship">Marco 2.0,</a>
		<a id="write">TGTCB,</a>
		<a href="https://www.producthunt.com/posts/extensions-af" target="blank" id="laptop">Extensions.af,</a>
		<a id="popcorn">Munchies.af,</a>
		<a id="bed">Coliving.af,</a>
		<a href="https://www.privacy.com" target="blank" id="money">Privacy.com,</a>
		<a id="ship">Cottage,</a>
		<a href="https://www.standupgiraffe.com" target="blank" id="building">Giraffe,</a>
		<a href="http://www.prehype.com" target="blank" id="money">Prehype,</a>
		<a href="http://www.athena.cool" target="blank" id="brain">Athena AI</a></p>
	<h2>Press</h2>
	<p class='exp'>
		<a href="https://www.washingtonpost.com/news/the-intersect/wp/2015/11/09/a-couple-of-kids-made-a-fake-tinder-for-fighting-app-and-the-internet-fell-for-it/?utm_term=.e351c087d1f2" target="blank">The Washington Post,</a>
		<a href="http://www.independent.co.uk/life-style/gadgets-and-tech/news/rumblr-tinder-for-fighting-app-website-launch-date-beta-9-november-a6727561.html" target="blank">The Independent,</a>
		<a href="https://www.vice.com/en_au/article/tinder-for-fights-was-bullshit-because-of-course-it-was-1109" target="blank">VICE,</a>
		<a href="http://www.businessinsider.com/the-tinder-for-fighting-app-rumblr-isnt-a-digital-fightclub-its-fake-2015-11" target="blank">Business Insider,</a>
		<a href="http://www.teamcoco.com/video/conan-monologue-06-28-16" target="blank">Conan O'Brien,</a>
		<a href="http://mashable.com/2015/11/09/tinder-for-fighting-app-rumblr/#CB5ygMRfa8q4" target="blank">Mashable,</a>
		<a href="https://www.buzzfeed.com/alpozcelik/gluteus-maximus-booty-is-fabulous" target="blank">BuzzFeed,</a>
		<a href="http://www.complex.com/pop-culture/2015/11/rumblr-not-real" target="blank">Complex,</a>
		<span class="no-link">Steve Harvey,</span>
		<a href="https://giphy.com/search/rumblr/" target="blank">GIPHY,</a>
		<a href="http://www.nydailynews.com/news/national/rumblr-tinder-fighting-app-launch-beta-nov-9-article-1.2427623" target="blank">New York Daily News,</a>
		<a href="http://ftw.usatoday.com/2015/11/rumblr-the-tinder-for-fighting-app-is-actually-a-stupid-hoax" target="blank">USA Today,</a>
		<a href="http://nymag.com/selectall/2015/11/rumblr-calls-itself-tinder-for-fighting.html" target="blank">New York Magazine,</a>
		<a href="http://video.foxnews.com/v/4603473408001/?#sp=show-clips" target="blank">Fox &amp; Friends,</a>
		<a href="http://insider.foxnews.com/2015/11/09/rumblr-tinder-fighting-app-was-marketing-hoax" target="blank">FOX News,</a>
		<a href="https://www.msn.com/en-in/video/viral/fighting-app-rumblr-turns-out-to-be-a-hoax/vi-CCafmd" target="blank">MSN,</a>
		<a href="http://www.abc.net.au/news/2015-11-10/tinder-for-fighting-app-exposed-as-fake/6927364" target="blank">ABC News,</a>
		<a href="http://observer.com/2016/02/how-rumblrs-marketing-agency-gamed-the-media-for-100k-in-business/" target="blank">New York Observer,</a>
		<span class="no-link">Cosmopolitan,</span>
		<a href="http://gizmodo.com/i-have-a-few-questions-about-this-new-tinder-for-fight-1741428652" target="blank">Gizmodo,</a>
		<a href="http://jezebel.com/here-is-a-list-of-people-i-challenge-to-a-recreational-1741073529" target="blank">Jezebel,</a>
		<a href="https://www.lifehacker.com.au/2015/11/briefly-fallout-4-for-cheap-tinder-for-fighting-australian-stocks-falling/" target="blank">LifeHacker,</a>
		<a href="http://uproxx.com/webculture/rumblr-tinder-fight-app-fake/" target="blank">Uproxx,</a>
		<a href="https://venturebeat.com/2015/11/06/rumblr-is-like-a-dating-app-but-for-fistfights/" target="blank">VentureBeat,</a>
		<a href="https://motherboard.vice.com/en_us/article/rumblr-the-tinder-for-bar-fights-was-built-by-an-ad-agency-of-course" target="blank">VICE Motherboard,</a>
		<a href="https://thenextweb.com/opinion/2015/11/10/tinder-for-fighting-was-obviously-fake-but-credulous-journalists-make-for-confused-readers/#.tnw_V23yw2PP" target="blank">The Next Web,</a>
		<a href="http://www.gq.com/story/rumblr-alternatives" target="blank">GQ,</a>
		<span class="no-link">Maxim,</span>
		<a href="https://hypebeast.com/2015/11/rumblr-app" target="blank">HYPEBEAST,</a>
		<a href="https://www.facebook.com/NowThisNews/videos/941517935938331/?hc_ref=SEARCH" target="blank">NowThis News,</a>
		<a href="https://www.youtube.com/watch?v=zbRDERHHjII" target="blank">Philip DeFranco,</a>
		<a href="https://www.facebook.com/miketyson/posts/1647779228826557?match=bWlrZSB0eXNvbixydW1ibHI%3D" target="blank">Mike Tyson,</a>
		<a href="http://www.dailymail.co.uk/sciencetech/article-3310184/Tinder-Fighting-app-lets-challenge-people-brawls-Rumblr-pits-users-against-bare-knuckle-clashes.html" target="blank">DailyMail,</a>
		<a href="http://metro.co.uk/2015/11/08/rumblr-the-tinder-style-app-for-people-who-want-to-fight-for-no-reason-5487988/" target="blank">Metro,</a>
		<a href="http://www.mirror.co.uk/news/world-news/rumblr-tinder-style-app-set-6796438" target="blank">Mirror,</a>
		<a href="http://fightland.vice.com/blog/rumblr-a-tinder-style-app-for-street-fighters-launches-today" target="blank">VICE Fightland,</a>
		<a href="http://www.thedailybeast.com/articles/2015/11/09/i-helped-promote-a-fake-fighting-app.html" target="blank">The Daily Beast,</a>
		<a href="https://digiday.com/media/reflecting-rumblr-4-phases-internet-falling-hoax/" target="blank">DigiDay,</a>
		<a href="http://elitedaily.com/social-news/fight-club-tinder-app/1277830/" target="blank">Elite Daily,</a>
		<a href="https://www.youtube.com/watch?v=Bm3TJ3MVkUY" target="blank">TomoNews,</a>
		<a href="http://sanfrancisco.cbslocal.com/tag/rumblr/" target="blank">CBS San Francisco,</a>
		<a href="http://bleacherreport.com/articles/2587509-rumblr-a-new-app-dubbed-tinder-for-fighting-set-for-beta-test-launch" target="blank">Bleacher Report,</a>
		<a href="http://www.sportingnews.com/other-sports/news/rumblr-app-tinder-for-fighting-mma-mixed-martial-arts-find-a-fight/15k8ozh1k80mo1o4bnkfo0snlx" target="blank">Sporting News,</a>
		<a href="https://sports.vice.com/en_us/article/rumblr-a-tinder-style-app-for-street-fighters-launches-today" target="blank">VICE Sports,</a>
		<a href="http://www.barstoolsports.com/newyork/the-tinder-for-fighting-app-rumblr-is-a-hoax/" target="blank">Barstool Sports,</a>
		<a href="http://sports.cbslocal.com/2015/11/10/rumblr-is-actually-just-a-hoax/" target="blank">CBS Sports,</a>
		<a href="http://sports.yahoo.com/news/app-rumblr-tinder-fighting-161404788.html" target="blank">Yahoo Sports,</a>
		<a href="https://www.tecmundo.com.br/apps/89052-rumblr-tinder-pancadaria-procura-novo-parceiro-briga.htm" target="blank">Tecmundo,</a>
		<a href="http://www.huffingtonpost.com/andrew-stengel/lets-get-ready-to-rumblr_b_8546704.html" target="blank">The Huffington Post,</a>
		<a href="http://www.snopes.com/rumblr/" target="blank">Snopes.com,</a>
		<a href="http://fightstate.com/new-app-rumblr-lets-you-find-opponents-for-random-streetfights/" target="blank">FIGHTSTATE,</a>
		<a href="http://mmajunkie.com/2015/11/behold-with-dread-rumblr-or-the-tinder-of-street-fighting" target="blank">MMA Junkie,</a>
		<a href="http://sfist.com/2015/11/10/sorry_bros_brawling_app_rumblr_is_a.php" target="blank">SFist,</a>
		<a href="http://www.geekwire.com/2015/fight-club-in-an-app-meet-rumblr-the-tinder-for-fighting/" target="blank">GeekWire,</a>
		<a href="http://fusion.net/story/229873/rumblr-tinder-fighting-app-hoax-vonhughes/" target="blank">Fusion,</a>
		<a href="http://www.unilad.co.uk/crazy/theres-now-a-tinder-style-app-for-people-who-want-to-fight-for-no-reason/" target="blank">Unilad,</a>
		<a href="http://www.dazeddigital.com/artsandculture/article/28311/1/rumblr-is-the-fight-club-for-the-modern-age" target="blank">Dazed,</a>
		<a href="https://www.dailydot.com/unclick/rumblr-fighting-app-hoax/" target="blank">The Daily Dot,</a>
		<a href="http://www.dailystar.co.uk/news/weird-news/474596/rumblr-tinder-for-fighting-lets-you-play-real-fight-club" target="blank">The Daily Star,</a>
		<a href="http://perezhilton.com/2015-11-11-rumblr-fighting-app-fake-hoax-tinder-fight-club" target="blank">Perez Hilton,</a>
		<a href="http://www.watoday.com.au/wa-news/danny-green-calls-rumblr-fight-app-an-absolute-disgrace-20151110-gkv8c9.html" target="blank">WA Today,</a>
		<span class="no-link">CollegeCandy,</span>
		<a href="http://brobible.com/life/article/rumblr-app-tinder-for-fight-club/" target="blank">BroBible,</a>
		<a href="https://www.businessinsider.com.au/everyones-waiting-to-see-if-rumblr-the-tinder-for-fighting-app-is-real-2015-11" target="blank">Business Insider Australia,</a>
		<a href="http://www.bbc.com/mundo/noticias/2015/11/151109_tecnologia_rumblr_polemica_aplicacion_app_buscar_pelea_bronca_lv" target="blank">BBC Mundo,</a>
		<span class="no-link">Journal Des Femmes,</span>
		<a href="https://www.queerty.com/rapper-malka-red-accidentally-creates-gay-anthem-single-boy-booty-20160518" target="blank">Queerty,</a>
		<a href="http://m.viva.tv/news/90711-boy-booty-so-viele-mannerpos-haben-wir-noch-nie-auf-einem-haufen-gesehen" target="blank">VIVA,</a>
		<a href="http://www.nzherald.co.nz/lifestyle/news/article.cfm?c_id=6&objectid=11542887" target="blank">NZ Herald News,</a>
		<a href="https://theamericangenius.com/tech-news/oh-dang-the-rumblr-app-was-a-hoax-and-now-we-wanna-fight-someone/" target="blank">The American Genius,</a>
		<a href="http://news.sky.com/story/rumblr-app-helps-users-find-meet-and-fight-10340266" target="blank">Sky News,</a>
		<a href="http://now.howstuffworks.com/2015/11/13/rumblr-real-value-fake-app" target="blank">HowItWorks,</a>
		<a href="http://www.deathandtaxesmag.com/269890/rumblr-app-tinder-fighting/" target="blank">Death and Taxes,</a>
		<a href="http://www.konbini.com/fr/tendances-2/rumblr-tinder-combat/" target="blank">Konbini,</a>
		<a href="https://www.gqitalia.it/gadget/hi-tech/2015/11/10/rumblr-app-stile-tinder-per-fare-a-botte-e-una-bufala/" target="blank">GQ Italia,</a>
		<a href="https://www.youtube.com/watch?v=ucdZcu18tnk" target="blank">Pop Trigger,</a>
		<a href="https://www.youtube.com/watch?v=Rb7hMoEgTc8" target="blank">ETC Show,</a>
		<a href="http://pix11.com/2015/11/09/tinder-for-violence-new-app-rumblr-creates-fight-club-on-your-phone/" target="blank">Pix11,</a>
		<a href="http://thechive.com/2015/11/10/rumblr-its-like-tinder-except-you-fight-people-8-photos/" target="blank">The Chive,</a>
		<a href="http://www.irishmirror.ie/news/weird-news/rumblr-tinder-style-app-set-6796835" target="blank">Irish Mirror,</a>
		<a href="http://www.deseretnews.com/article/865641152/What-we-can-learn-from-Rumblr-the-Tinder-for-fighting-app-that-was-actually-a-hoax.html?pg=all" target="blank">Deseret News,</a>
		<a href="http://www.inquisitr.com/2554337/rumblr-is-the-tinder-for-fighting/" target="blank">Inquisitr,</a>
		<a href="http://www.ebaumsworld.com/pictures/rumblr-app-is-tinder-for-fight-club/84809672/" target="blank">eBaum's World,</a>
		<a href="http://www.kfbb.com/story/24280742/we-help-steve-harvey-surprise-a-local-student" target="blank">KFBB,</a>
		<a href="http://news.salliemae.com/press-release/upromise-rewards/upromise-sallie-mae-awards-four-inspiring-teens-total-20000-college-s" target="blank">SallieMae,</a>
		<a href="https://www.thesun.co.uk/archives/news/164847/tinder-for-fighting-app-rumblr-allows-thugs-to-meet-up-and-fight/" target="blank">The Sun,</a>
		<a href="http://hypefreshmag.com/culture/looking-to-fight-someone-well-rumblr-is-a-new-fight-club-inspired-app" target="blank">hypefresh,</a>
		<a href="http://www.businessinsider.in/The-Tinder-for-fighting-app-Rumblr-is-actually-just-a-marketing-stunt/articleshow/49729867.cms" target="blank">Business Insider India,</a>
		<a href="http://www.gqmagazine.fr/pop-culture/news/articles/rumblr-le-tinder-version-fight-club/29639" target="blank">GQ France,</a>
		<a href="https://massappeal.com/rumblr-is-tinder-for-fighting-people-with-anger-management-issues/" target="blank">Mass Appeal,</a>
		<a href="https://ca.news.yahoo.com/blogs/daily-buzz/rumblr-billed-as-tinder-for-fighting-set-for-194122684.html" target="blank">Yahoo News Canada,</a>
		<a href="https://uk.news.yahoo.com/tinder-fighting-rumblr-app-really-115248299.html" target="blank">Yahoo News UK,</a>
		<a href="http://www.flava.co.nz/news/rumblr-an-app-like-tinder-except-for-fighting-hoax/" target="blank">Flava NZ,</a>
		<a href="https://www.studentmoneysaver.co.uk/article/we-decided-to-try-the-new-fight-app-rumblr-and-then-weasel-out-of-fighting/" target="blank">Student Money Saver,</a>
		<a href="https://www.youtube.com/watch?v=ph_KaNtmF0k" target="blank">ReviewTechUSA,</a>
		<a href="http://www.kiss925.com/2015/11/09/rumblr-tinder-for-fighting-is-the-nickelback-of-apps/" target="blank">KISS 92.5,</a>
		<a href="https://massappeal.com/rumblr-is-tinder-for-fighting-people-with-anger-management-issues/" target="blank">Mass Appeal,</a>
		<a href="http://o.nouvelobs.com/high-tech/20151110.OBS9210/rumblr-quand-tinder-rencontre-fight-club.html" target="blank">L'OBS,</a>
		<a href="http://thesurge.com/stories/does-rumblr-the-app-to-fight-strangers-take-technology-too-far" target="blank">The Surge,</a>
		<a href="https://www.dmarge.com/2015/11/rumblr-tinder-for-recreational-brawlers.html" target="blank">D'Marge,</a>
		<a href="http://www.20minutes.fr/high-tech/1728127-20151110-rumblr-tinder-version-baston-hoax" target="blank">20 Minutes,</a>
		<a href="http://www.washingtontimes.com/news/2015/nov/9/rumblr-the-tinder-for-fighting-app-launching-beta-/" target="blank">The Washington Times,</a>
		<a href="https://www.wired.de/collection/tech/mit-der-app-rumblr-koennt-ihr-euch-wohl-doch-nicht-zu-pruegeleien-verabreden" target="blank">WIRED Germany,</a>
		<a href="http://www.ibtimes.com.au/rumblr-tinder-fighting-people-hoax-just-viral-campaign-1482264" target="blank">International Business Times,</a>
		<a href="http://www.losreplicantes.com/articulos/rumblr-app-contactos-pelearse-falsa/" target="blank">Los Replicantes,</a>
		<a href="http://www.radiohamburg.de/Nachrichten/Deutschland-und-die-Welt/Internet-Co/2015/November/Fight-Club-App-Rumblr-Tinder-fuer-Pruegelknaben" target="blank">Radio Hamburg,</a>
		<a href="http://fakka.nl/rumblr-tinder-style-app-voor-mensen-die-willen-afspreken-en-vechten/" target="blank">Fakka Netherlands,</a>
		<a href="http://www.sueddeutsche.de/digital/app-oekonomie-warum-die-erfundene-pruegel-app-rumblr-so-einschlug-1.2735686" target="blank">Sueddeutsche Zeitung,</a>
		<a href="http://bfmbusiness.bfmtv.com/entreprise/rumblr-le-tinder-du-combat-de-rue-bientot-disponible-928842.html" target="blank">BFM TV,</a>
		<a href="https://ain.ua/2015/11/09/servis-znakomstv-rumblr-pomozhet-najti-s-kem-podratsya" target="blank">AIN Ukraine,</a>
		<a href="https://web.de/magazine/digital/pruegel-app-rumblr-gag-ernst-gemeint-31119096" target="blank">Web.de,</a>
		<a href="http://abc27.com/2015/11/09/is-the-tinder-for-fighting-app-real/" target="blank">ABC27,</a>
		<a href="http://www.wysokieobcasy.pl/wysokie-obcasy/1,115167,19170072,rumblr-to-taki-tinder-ale-ustawiasz-sie-nie-na-randke-a-na.html?disableRedirects=true" target="blank">Wysokieobcasy Poland,</a>
		<a href="http://antyweb.pl/rumblr-to-niecodzienny-projekt-aplikacja-dzieki-ktorej-znajdziesz-partnera-do-bojki/" target="blank">AntyWeb Poland,</a>
		<a href="http://lared.cl/2015/insolito/rumblr-el-polemico-tinder-de-las-peleas-callejeras" target="blank">Lared Chile,</a>
		<a href="http://www.chip.de/news/_Rumblr_-Die-Tinder-Fighting-App-gibt-es-gar-nicht_85437070.html" target="blank">CHIP,</a>
		<a href="http://natemat.pl/161391,tego-jeszcze-nie-bylo-aplikacja-rumblr-pozwala-umowic-sie-na-bojke" target="blank">na:Temat Poland,</a>
		<a href="http://www.rozhlas.cz/radiowave/wavenews/_zprava/vznika-aplikace-la-fight-club-rumblr-je-tinder-pro-rvace--1552674" target="blank">Rozhlas Czech,</a>
		<a href="http://www.milliyet.com.tr/tinder-in-kavga-versiyonu-rumblr-teknoloji-2145854/" target="blank">Milliyet Turkey,</a>
		<a href="https://magnet.xataka.com/idolos-de-hoy-y-siempre/si-quieres-pegarte-con-un-desconocido-porque-si-rumblr-es-tu-nueva-app-favorita" target="blank">Xataka,</a>
		<a href="https://onedio.com/haber/sevgili-degil-dovecek-adam-bulan-uygulama-rumblr-622126" target="blank">Onedio Turkey</a>
	</p>
	<p class="exp">&copy; Matt Henderson</p>

<!--
<section>
		<div class="title-0">I’ve been selling things since I could walk. I started my first (unsuccessful) company when I was 14 in Montana and ran away from home when I was 16. I've been a full-time entrepreneur ever since. I moved to NYC 6 days after graduating high school and 4 days after turning 18.</div>
		<p></p>
		<div class="title-1">I’ve spent the last few years maximizing my learning by working on as many different kinds of projects as possible: advertising, consumer tech, enterprise SAAS, agencies, finance, music, fashion, writing, and manufacturing. I like consumer tech the best.</div>
		<p></p>
		<div class="title-1">I also help companies design, launch, and grow products. <a href="mailto:m@matthenderson.co">Email me</a> if you're working on something you think I'd be able to help with.</div>
		<p></p>
		<div class="title-1">- Matt</div>
		<p>&nbsp;</p>



		<ul>
			<li>

				<div class="title-2">Products/companies/experiments I've worked on/at/with:</div><br>
				<div class="title">
					2012 &#8594;&nbsp;&nbsp;
					<a href="http://www.huffingtonpost.com/julia-schemmer/a-passionate-youth-meet-m_b_4946391.html" target="blank">Amour Fraternel Apparel &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">M. Juh&aacute;sz-Henderson &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Juh&aacute;sz &amp; Associates &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">TDBA &#8594;&nbsp;&nbsp;</span>
					<a href="http://www.founder.house" target="blank">Founder House &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">salesperch &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Trouv&eacute; &#8594;&nbsp;&nbsp;</span>
					<a href="https://medium.com/the-mission/how-we-hacked-the-media-and-landed-six-figure-contracts-in-four-days-96ea4aca4eef#.yr5ffw61j" target="blank">Rumblr &#8594;</a>&nbsp;&nbsp;
					<a href="http://www.vonhughes.com" target="blank">von Hughes &#8594;</a>&nbsp;&nbsp;
					<a href="http://www.vh-creative.com" target="blank">vH CREATIVE &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">Shameless Jeans &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">OneFleet &#8594;&nbsp;&nbsp;</span>
					<a href="http://www.vh-records.com" target="blank">vH RECORDS &#8594;</a>&nbsp;&nbsp;
					<a href="http://www.malkared.com" target="blank">Malka Red &#8594;</a>&nbsp;&nbsp;
					<a href="https://www.facebook.com/redmalkared/videos/1532420193734509/?hc_ref=SEARCH" target="blank">Boy Booty &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">vH PROPERTIES &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Secret Lofts &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Wanderlofts &#8594;&nbsp;&nbsp;</span>
					<a href="mailto:m@matthenderson.co" target="blank">*ANONYMOUS* &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">vH CAPITAL &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">BLAK HUGHES &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Secret Bus &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Whole Cooking &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Zencargo &#8594;&nbsp;&nbsp;</span>
					<a href="https://www.lavamap.com" target="blank">Lavamap &#8594;</a>&nbsp;&nbsp;
					<a href="https://www.novaventures.io" target="blank">Nova Ventures &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">Angel &#8594;&nbsp;&nbsp;</span>
					<a href="http://www.champagn3.com" target="blank">Champagne &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">Marco v1.0 &#8594;&nbsp;&nbsp;</span>
					<a href="http://www.aufine.com" target="blank">Aufine &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">Marco v2.0 &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">TGTCB &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">GKGM &#8594;&nbsp;&nbsp;</span>
					<a href="https://www.producthunt.com/posts/extensions-af" target="blank">Extensions.af &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">Munchies.af &#8594;&nbsp;&nbsp;</span>
					<span class="no-link">Coliving.af &#8594;&nbsp;&nbsp;</span>
					<a href="https://www.privacy.com" target="blank">Privacy.com &#8594;</a>&nbsp;&nbsp;
					<span class="no-link">Cottage &#8594;&nbsp;&nbsp;</span>
					<a href="https://www.standupgiraffe.com" target="blank">Giraffe &#8594;</a>&nbsp;&nbsp;
					<a href="http://www.prehype.com" target="blank">Prehype &#8594;</a>&nbsp;&nbsp;
					<a href="http://www.withathena.com" target="blank">Athena AI &#8594;</a>&nbsp;&nbsp;{{ site.time | date: '%Y' }}


				</div>
			</li>
		</ul>
		<br>
		<ul>
			<li>
				<div class="title-2">My work has been featured in:</div><br>
				<div class="Title">
					<a href="https://www.washingtonpost.com/news/the-intersect/wp/2015/11/09/a-couple-of-kids-made-a-fake-tinder-for-fighting-app-and-the-internet-fell-for-it/?utm_term=.e351c087d1f2" target="blank">The Washington Post,</a>
					<a href="http://www.independent.co.uk/life-style/gadgets-and-tech/news/rumblr-tinder-for-fighting-app-website-launch-date-beta-9-november-a6727561.html" target="blank">The Independent,</a>
					<a href="https://www.vice.com/en_au/article/tinder-for-fights-was-bullshit-because-of-course-it-was-1109" target="blank">VICE,</a>
					<a href="http://www.businessinsider.com/the-tinder-for-fighting-app-rumblr-isnt-a-digital-fightclub-its-fake-2015-11" target="blank">Business Insider,</a>
					<a href="http://www.teamcoco.com/video/conan-monologue-06-28-16" target="blank">Conan O'Brien,</a>
					<a href="http://mashable.com/2015/11/09/tinder-for-fighting-app-rumblr/#CB5ygMRfa8q4" target="blank">Mashable,</a>
					<a href="https://www.buzzfeed.com/alpozcelik/gluteus-maximus-booty-is-fabulous" target="blank">BuzzFeed,</a>
					<a href="http://www.complex.com/pop-culture/2015/11/rumblr-not-real" target="blank">Complex,</a>
					<span class="no-link">Steve Harvey,</span>
					<a href="https://giphy.com/search/rumblr/" target="blank">GIPHY,</a>
					<a href="http://www.nydailynews.com/news/national/rumblr-tinder-fighting-app-launch-beta-nov-9-article-1.2427623" target="blank">New York Daily News,</a>
					<a href="http://ftw.usatoday.com/2015/11/rumblr-the-tinder-for-fighting-app-is-actually-a-stupid-hoax" target="blank">USA Today,</a>
					<a href="http://nymag.com/selectall/2015/11/rumblr-calls-itself-tinder-for-fighting.html" target="blank">New York Magazine,</a>
					<a href="http://video.foxnews.com/v/4603473408001/?#sp=show-clips" target="blank">Fox &amp; Friends,</a>
					<a href="http://insider.foxnews.com/2015/11/09/rumblr-tinder-fighting-app-was-marketing-hoax" target="blank">FOX News,</a>
					<a href="https://www.msn.com/en-in/video/viral/fighting-app-rumblr-turns-out-to-be-a-hoax/vi-CCafmd" target="blank">MSN,</a>
					<a href="http://www.abc.net.au/news/2015-11-10/tinder-for-fighting-app-exposed-as-fake/6927364" target="blank">ABC News,</a>
					<a href="http://observer.com/2016/02/how-rumblrs-marketing-agency-gamed-the-media-for-100k-in-business/" target="blank">New York Observer,</a>
					<span class="no-link">Cosmopolitan,</span>
					<a href="http://gizmodo.com/i-have-a-few-questions-about-this-new-tinder-for-fight-1741428652" target="blank">Gizmodo,</a>
					<a href="http://jezebel.com/here-is-a-list-of-people-i-challenge-to-a-recreational-1741073529" target="blank">Jezebel,</a>
					<a href="https://www.lifehacker.com.au/2015/11/briefly-fallout-4-for-cheap-tinder-for-fighting-australian-stocks-falling/" target="blank">LifeHacker,</a>
					<a href="http://uproxx.com/webculture/rumblr-tinder-fight-app-fake/" target="blank">Uproxx,</a>
					<a href="https://venturebeat.com/2015/11/06/rumblr-is-like-a-dating-app-but-for-fistfights/" target="blank">VentureBeat,</a>
					<a href="https://motherboard.vice.com/en_us/article/rumblr-the-tinder-for-bar-fights-was-built-by-an-ad-agency-of-course" target="blank">VICE Motherboard,</a>
					<a href="https://thenextweb.com/opinion/2015/11/10/tinder-for-fighting-was-obviously-fake-but-credulous-journalists-make-for-confused-readers/#.tnw_V23yw2PP" target="blank">The Next Web,</a>
					<a href="http://www.gq.com/story/rumblr-alternatives" target="blank">GQ,</a>
					<span class="no-link">Maxim,</span>
					<a href="https://hypebeast.com/2015/11/rumblr-app" target="blank">HYPEBEAST,</a>
					<a href="https://www.facebook.com/NowThisNews/videos/941517935938331/?hc_ref=SEARCH" target="blank">NowThis News,</a>
					<a href="https://www.youtube.com/watch?v=zbRDERHHjII" target="blank">Philip DeFranco,</a>
					<a href="https://www.facebook.com/miketyson/posts/1647779228826557?match=bWlrZSB0eXNvbixydW1ibHI%3D" target="blank">Mike Tyson,</a>
					<a href="http://www.dailymail.co.uk/sciencetech/article-3310184/Tinder-Fighting-app-lets-challenge-people-brawls-Rumblr-pits-users-against-bare-knuckle-clashes.html" target="blank">DailyMail,</a>
					<a href="http://metro.co.uk/2015/11/08/rumblr-the-tinder-style-app-for-people-who-want-to-fight-for-no-reason-5487988/" target="blank">Metro,</a>
					<a href="http://www.mirror.co.uk/news/world-news/rumblr-tinder-style-app-set-6796438" target="blank">Mirror,</a>
					<a href="http://fightland.vice.com/blog/rumblr-a-tinder-style-app-for-street-fighters-launches-today" target="blank">VICE Fightland,</a>
					<a href="http://www.thedailybeast.com/articles/2015/11/09/i-helped-promote-a-fake-fighting-app.html" target="blank">The Daily Beast,</a>
					<a href="https://digiday.com/media/reflecting-rumblr-4-phases-internet-falling-hoax/" target="blank">DigiDay,</a>
					<a href="http://elitedaily.com/social-news/fight-club-tinder-app/1277830/" target="blank">Elite Daily,</a>
					<a href="https://www.youtube.com/watch?v=Bm3TJ3MVkUY" target="blank">TomoNews,</a>
					<a href="http://sanfrancisco.cbslocal.com/tag/rumblr/" target="blank">CBS San Francisco,</a>
					<a href="http://bleacherreport.com/articles/2587509-rumblr-a-new-app-dubbed-tinder-for-fighting-set-for-beta-test-launch" target="blank">Bleacher Report,</a>
					<a href="http://www.sportingnews.com/other-sports/news/rumblr-app-tinder-for-fighting-mma-mixed-martial-arts-find-a-fight/15k8ozh1k80mo1o4bnkfo0snlx" target="blank">Sporting News,</a>
					<a href="https://sports.vice.com/en_us/article/rumblr-a-tinder-style-app-for-street-fighters-launches-today" target="blank">VICE Sports,</a>
					<a href="http://www.barstoolsports.com/newyork/the-tinder-for-fighting-app-rumblr-is-a-hoax/" target="blank">Barstool Sports,</a>
					<a href="http://sports.cbslocal.com/2015/11/10/rumblr-is-actually-just-a-hoax/" target="blank">CBS Sports,</a>
					<a href="http://sports.yahoo.com/news/app-rumblr-tinder-fighting-161404788.html" target="blank">Yahoo Sports,</a>
					<a href="https://www.tecmundo.com.br/apps/89052-rumblr-tinder-pancadaria-procura-novo-parceiro-briga.htm" target="blank">Tecmundo,</a>
					<a href="http://www.huffingtonpost.com/andrew-stengel/lets-get-ready-to-rumblr_b_8546704.html" target="blank">The Huffington Post,</a>
					<a href="http://www.snopes.com/rumblr/" target="blank">Snopes.com,</a>
					<a href="http://fightstate.com/new-app-rumblr-lets-you-find-opponents-for-random-streetfights/" target="blank">FIGHTSTATE,</a>
					<a href="http://mmajunkie.com/2015/11/behold-with-dread-rumblr-or-the-tinder-of-street-fighting" target="blank">MMA Junkie,</a>
					<a href="http://sfist.com/2015/11/10/sorry_bros_brawling_app_rumblr_is_a.php" target="blank">SFist,</a>
					<a href="http://www.geekwire.com/2015/fight-club-in-an-app-meet-rumblr-the-tinder-for-fighting/" target="blank">GeekWire,</a>
					<a href="http://fusion.net/story/229873/rumblr-tinder-fighting-app-hoax-vonhughes/" target="blank">Fusion,</a>
					<a href="http://www.unilad.co.uk/crazy/theres-now-a-tinder-style-app-for-people-who-want-to-fight-for-no-reason/" target="blank">Unilad,</a>
					<a href="http://www.dazeddigital.com/artsandculture/article/28311/1/rumblr-is-the-fight-club-for-the-modern-age" target="blank">Dazed,</a>
					<a href="https://www.dailydot.com/unclick/rumblr-fighting-app-hoax/" target="blank">The Daily Dot,</a>
					<a href="http://www.dailystar.co.uk/news/weird-news/474596/rumblr-tinder-for-fighting-lets-you-play-real-fight-club" target="blank">The Daily Star,</a>
					<a href="http://perezhilton.com/2015-11-11-rumblr-fighting-app-fake-hoax-tinder-fight-club" target="blank">Perez Hilton,</a>
					<a href="http://www.watoday.com.au/wa-news/danny-green-calls-rumblr-fight-app-an-absolute-disgrace-20151110-gkv8c9.html" target="blank">WA Today,</a>
					<span class="no-link">CollegeCandy,</span>
					<a href="http://brobible.com/life/article/rumblr-app-tinder-for-fight-club/" target="blank">BroBible,</a>
					<a href="https://www.businessinsider.com.au/everyones-waiting-to-see-if-rumblr-the-tinder-for-fighting-app-is-real-2015-11" target="blank">Business Insider Australia,</a>
					<a href="http://www.bbc.com/mundo/noticias/2015/11/151109_tecnologia_rumblr_polemica_aplicacion_app_buscar_pelea_bronca_lv" target="blank">BBC Mundo,</a>
					<span class="no-link">Journal Des Femmes,</span>
					<a href="https://www.queerty.com/rapper-malka-red-accidentally-creates-gay-anthem-single-boy-booty-20160518" target="blank">Queerty,</a>
					<a href="http://m.viva.tv/news/90711-boy-booty-so-viele-mannerpos-haben-wir-noch-nie-auf-einem-haufen-gesehen" target="blank">VIVA,</a>
					<a href="http://www.nzherald.co.nz/lifestyle/news/article.cfm?c_id=6&objectid=11542887" target="blank">NZ Herald News,</a>
					<a href="https://theamericangenius.com/tech-news/oh-dang-the-rumblr-app-was-a-hoax-and-now-we-wanna-fight-someone/" target="blank">The American Genius,</a>
					<a href="http://news.sky.com/story/rumblr-app-helps-users-find-meet-and-fight-10340266" target="blank">Sky News,</a>
					<a href="http://now.howstuffworks.com/2015/11/13/rumblr-real-value-fake-app" target="blank">HowItWorks,</a>
					<a href="http://www.deathandtaxesmag.com/269890/rumblr-app-tinder-fighting/" target="blank">Death and Taxes,</a>
					<a href="http://www.konbini.com/fr/tendances-2/rumblr-tinder-combat/" target="blank">Konbini,</a>
					<a href="https://www.gqitalia.it/gadget/hi-tech/2015/11/10/rumblr-app-stile-tinder-per-fare-a-botte-e-una-bufala/" target="blank">GQ Italia,</a>
					<a href="https://www.youtube.com/watch?v=ucdZcu18tnk" target="blank">Pop Trigger,</a>
					<a href="https://www.youtube.com/watch?v=Rb7hMoEgTc8" target="blank">ETC Show,</a>
					<a href="http://pix11.com/2015/11/09/tinder-for-violence-new-app-rumblr-creates-fight-club-on-your-phone/" target="blank">Pix11,</a>
					<a href="http://thechive.com/2015/11/10/rumblr-its-like-tinder-except-you-fight-people-8-photos/" target="blank">The Chive,</a>
					<a href="http://www.irishmirror.ie/news/weird-news/rumblr-tinder-style-app-set-6796835" target="blank">Irish Mirror,</a>
					<a href="http://www.deseretnews.com/article/865641152/What-we-can-learn-from-Rumblr-the-Tinder-for-fighting-app-that-was-actually-a-hoax.html?pg=all" target="blank">Deseret News,</a>
					<a href="http://www.inquisitr.com/2554337/rumblr-is-the-tinder-for-fighting/" target="blank">Inquisitr,</a>
					<a href="http://www.ebaumsworld.com/pictures/rumblr-app-is-tinder-for-fight-club/84809672/" target="blank">eBaum's World,</a>
					<a href="http://www.kfbb.com/story/24280742/we-help-steve-harvey-surprise-a-local-student" target="blank">KFBB,</a>
					<a href="http://news.salliemae.com/press-release/upromise-rewards/upromise-sallie-mae-awards-four-inspiring-teens-total-20000-college-s" target="blank">SallieMae,</a>
					<a href="https://www.thesun.co.uk/archives/news/164847/tinder-for-fighting-app-rumblr-allows-thugs-to-meet-up-and-fight/" target="blank">The Sun,</a>
					<a href="http://hypefreshmag.com/culture/looking-to-fight-someone-well-rumblr-is-a-new-fight-club-inspired-app" target="blank">hypefresh,</a>
					<a href="http://www.businessinsider.in/The-Tinder-for-fighting-app-Rumblr-is-actually-just-a-marketing-stunt/articleshow/49729867.cms" target="blank">Business Insider India,</a>
					<a href="http://www.gqmagazine.fr/pop-culture/news/articles/rumblr-le-tinder-version-fight-club/29639" target="blank">GQ France,</a>
					<a href="https://massappeal.com/rumblr-is-tinder-for-fighting-people-with-anger-management-issues/" target="blank">Mass Appeal,</a>
					<a href="https://ca.news.yahoo.com/blogs/daily-buzz/rumblr-billed-as-tinder-for-fighting-set-for-194122684.html" target="blank">Yahoo News Canada,</a>
					<a href="https://uk.news.yahoo.com/tinder-fighting-rumblr-app-really-115248299.html" target="blank">Yahoo News UK,</a>
					<a href="http://www.flava.co.nz/news/rumblr-an-app-like-tinder-except-for-fighting-hoax/" target="blank">Flava NZ,</a>
					<a href="https://www.studentmoneysaver.co.uk/article/we-decided-to-try-the-new-fight-app-rumblr-and-then-weasel-out-of-fighting/" target="blank">Student Money Saver,</a>
					<a href="https://www.youtube.com/watch?v=ph_KaNtmF0k" target="blank">ReviewTechUSA,</a>
					<a href="http://www.kiss925.com/2015/11/09/rumblr-tinder-for-fighting-is-the-nickelback-of-apps/" target="blank">KISS 92.5,</a>
					<a href="https://massappeal.com/rumblr-is-tinder-for-fighting-people-with-anger-management-issues/" target="blank">Mass Appeal,</a>
					<a href="http://o.nouvelobs.com/high-tech/20151110.OBS9210/rumblr-quand-tinder-rencontre-fight-club.html" target="blank">L'OBS,</a>
					<a href="http://thesurge.com/stories/does-rumblr-the-app-to-fight-strangers-take-technology-too-far" target="blank">The Surge,</a>
					<a href="https://www.dmarge.com/2015/11/rumblr-tinder-for-recreational-brawlers.html" target="blank">D'Marge,</a>
					<a href="http://www.20minutes.fr/high-tech/1728127-20151110-rumblr-tinder-version-baston-hoax" target="blank">20 Minutes,</a>
					<a href="http://www.washingtontimes.com/news/2015/nov/9/rumblr-the-tinder-for-fighting-app-launching-beta-/" target="blank">The Washington Times,</a>
					<a href="https://www.wired.de/collection/tech/mit-der-app-rumblr-koennt-ihr-euch-wohl-doch-nicht-zu-pruegeleien-verabreden" target="blank">WIRED Germany,</a>
					<a href="http://www.ibtimes.com.au/rumblr-tinder-fighting-people-hoax-just-viral-campaign-1482264" target="blank">International Business Times,</a>
					<a href="http://www.losreplicantes.com/articulos/rumblr-app-contactos-pelearse-falsa/" target="blank">Los Replicantes,</a>
					<a href="http://www.radiohamburg.de/Nachrichten/Deutschland-und-die-Welt/Internet-Co/2015/November/Fight-Club-App-Rumblr-Tinder-fuer-Pruegelknaben" target="blank">Radio Hamburg,</a>
					<a href="http://fakka.nl/rumblr-tinder-style-app-voor-mensen-die-willen-afspreken-en-vechten/" target="blank">Fakka Netherlands,</a>
					<a href="http://www.sueddeutsche.de/digital/app-oekonomie-warum-die-erfundene-pruegel-app-rumblr-so-einschlug-1.2735686" target="blank">Sueddeutsche Zeitung,</a>
					<a href="http://bfmbusiness.bfmtv.com/entreprise/rumblr-le-tinder-du-combat-de-rue-bientot-disponible-928842.html" target="blank">BFM TV,</a>
					<a href="https://ain.ua/2015/11/09/servis-znakomstv-rumblr-pomozhet-najti-s-kem-podratsya" target="blank">AIN Ukraine,</a>
					<a href="https://web.de/magazine/digital/pruegel-app-rumblr-gag-ernst-gemeint-31119096" target="blank">Web.de,</a>
					<a href="http://abc27.com/2015/11/09/is-the-tinder-for-fighting-app-real/" target="blank">ABC27,</a>
					<a href="http://www.wysokieobcasy.pl/wysokie-obcasy/1,115167,19170072,rumblr-to-taki-tinder-ale-ustawiasz-sie-nie-na-randke-a-na.html?disableRedirects=true" target="blank">Wysokieobcasy Poland,</a>
					<a href="http://antyweb.pl/rumblr-to-niecodzienny-projekt-aplikacja-dzieki-ktorej-znajdziesz-partnera-do-bojki/" target="blank">AntyWeb Poland,</a>
					<a href="http://lared.cl/2015/insolito/rumblr-el-polemico-tinder-de-las-peleas-callejeras" target="blank">Lared Chile,</a>
					<a href="http://www.chip.de/news/_Rumblr_-Die-Tinder-Fighting-App-gibt-es-gar-nicht_85437070.html" target="blank">CHIP,</a>
					<a href="http://natemat.pl/161391,tego-jeszcze-nie-bylo-aplikacja-rumblr-pozwala-umowic-sie-na-bojke" target="blank">na:Temat Poland,</a>
					<a href="http://www.rozhlas.cz/radiowave/wavenews/_zprava/vznika-aplikace-la-fight-club-rumblr-je-tinder-pro-rvace--1552674" target="blank">Rozhlas Czech,</a>
					<a href="http://www.milliyet.com.tr/tinder-in-kavga-versiyonu-rumblr-teknoloji-2145854/" target="blank">Milliyet Turkey,</a>
					<a href="https://magnet.xataka.com/idolos-de-hoy-y-siempre/si-quieres-pegarte-con-un-desconocido-porque-si-rumblr-es-tu-nueva-app-favorita" target="blank">Xataka,</a>
					<a href="https://onedio.com/haber/sevgili-degil-dovecek-adam-bulan-uygulama-rumblr-622126" target="blank">Onedio Turkey</a>
				</div>
			</li>
		</ul>

		<p>&nbsp;</p>
		<div class="title-2">Writing:</div>

		{% for post in site.posts %}
		{% unless post.next %}
			<!--<h3>Essays</h3>-->
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<!--<div class="post-date">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>-->
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}

		<ul>
			<li>
				<div class="post-date">
				</div>
				<div class="title">
					<a href="https://medium.com/the-mission/how-trump-and-kanye-are-hacking-the-media-85f43ea6ae17#.qx02rn4ut" target="blank">How Trump and Kanye Are Hacking the Media</a>
				</div>
			</li>
		</ul>

		<ul>
			<li>
				<div class="post-date">
				</div>
				<div class="title">
					<a href="https://medium.com/the-mission/how-we-hacked-the-media-and-landed-six-figure-contracts-in-four-days-96ea4aca4eef#.yr5ffw61j" target="blank">How We Hacked the Media and Landed Six-Figure Contracts in Four Days</a>
				</div>
			</li>
		</ul>

<!-- Footer footnote -->
	<!--<div class="footer">
		<span id="asterick">*Not an essay, or published elsewhere</span>
	</div>--><!--
	<p>&nbsp;</p>
	<span class="block">&copy; {{ site.time | date: '%Y' }} <a href="mailto:m@matthenderson.co" style="color:white;">{{ site.author_name }}</a></span>

</section>
-->
