---
layout: default
---

<section>

	{% for post in site.posts %}
		{% unless post.next %}
			<h3>{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}

		<ul>
			<li>
				<div class="post-date">
					<span>FEB 29</span>
				</div>
				<div class="title">
					<a href="https://medium.com/the-mission/how-trump-and-kanye-are-hacking-the-media-85f43ea6ae17#.qx02rn4ut" target="blank">How Trump and Kanye Are Hacking the Media</a>
				</div>
			</li>
		</ul>

		<ul>
			<li>
				<div class="post-date">
					<span>JAN 21</span>
				</div>
				<div class="title">
					<a href="https://medium.com/the-mission/how-we-hacked-the-media-and-landed-six-figure-contracts-in-four-days-96ea4aca4eef#.yr5ffw61j" target="blank">How We Hacked the Media and Landed Six-Figure Contracts in Four Days &#128293;</a>
				</div>
			</li>
		</ul>

</section>
